// Colors
$white: hsl(0, 0%, 100%);
$slate-300: hsl(212, 45%, 89%);
$slate-500: hsl(216, 15%, 48%);
$slate-900: hsl(218, 44%, 22%);

// Typography
$font-family: 'Outfit', sans-serif;
$font-size-paragraph: 15px;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Breakpoints
$mobile-width: 375px;
$desktop-width: 1440px;

body {
    font-family: $font-family;
    font-size: $font-size-paragraph;
    line-height: 1.5;
    color: $slate-900;
    background-color: $slate-300;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .card {
            width: 320px;
            background-color: $white;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                padding: 20 border-radius: 40px;
            }
        }
    }
}
